//.container{
//
//  width: 20%;
//  height: 200px;
//  overflow: auto;
//  text-align: center;
//}
//.containerr{
//  margin: 10px 10px;
//}
////.butt {
////  background-color: white; /* Green */
////  border: #4CAF50 1px solid;
////  color:  #4CAF50;
////  padding: 15px 32px;
////  text-align: center;
////  text-decoration: none;
////  display: inline-block;
////  font-size: 16px;
////  transition-duration: 0.4s;
////}
////.butt:hover {
////  background-color: #4CAF50; /* Green */
////  color: white;
////
////}
////.container {
////  position: relative;
////  width: 100%;
////  max-width: 400px;
////}
//.butt{
//  display: inline-block;
//  border-radius: 4px;
//  background-color: #4CAF50;
//  border: none;
//  color: #FFFFFF;
//  text-align: center;
//  font-size: 28px;
//  padding: 20px;
//  width: 200px;
//  transition: all 0.5s;
//  cursor: pointer;
//  margin: 5px;
//}
//
//.butt span {
//  cursor: pointer;
//  display: inline-block;
//  position: relative;
//  transition: 0.5s;
//}
//
//.butt span:after {
//  content: '\00bb';
//  position: absolute;
//  opacity: 0;
//  top: 0;
//  right: -20px;
//  transition: 0.5s;
//}
//
//.butt:hover span {
//  padding-right: 25px;
//}
//
//.butt:hover span:after {
//  opacity: 1;
//  right: 0;
//}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
