


<div class="container" *ngFor="let atr of userArticles">
  <div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="eader-image"></div>
      <mat-card-title>{{atr.title}}</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img class="mat-card-image" [src]="atr.image" alt="Photo of a Shiba Inu" [routerLink]="['/article', atr.title, atr.id]">
    <mat-card-content >
      <p>
        {{atr.body | slice:0:500}}...
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

      <button mat-button>SHARE</button>
      <button mat-button [routerLink]="['/article', atr.title, atr.id]">Read more</button>

    </mat-card-actions>
  </mat-card>
</div>
</div>


