<div class="topnav">
  <a  [routerLink]="['/home']" routerLinkActive="active">MyBlog</a>
  <a [routerLink]="['/article']" routerLinkActive="active">Статті</a>
  <a [routerLink]="['/news']" routerLinkActive="active">Новини</a>
  <a  [routerLink]="['/admin']" routerLinkActive="active" *ngIf="!!localStorage" >Адмін</a>
  <a  [routerLink]="['/login']" routerLinkActive="active" *ngIf="!localStorage" >Зареєструватись</a>
  <a [routerLink]="['/home']" (click)="exit()"  *ngIf="!!localStorage">exit</a>
</div>
